*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navber{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("logo2.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1px solid white;
}
/**box2**/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 19px;
}
.add-sec{
    font-size: 0.90rem;
    margin-left:0px ;

}
.add-icon{
    display: flex;
    align-items: center;
}
/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(252, 156, 13);
    height: 35px;
    width: 500px;
    border-radius: 3px;
}
.search-select{
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    
}
.search-input{
    width: 100%;
    font-size: 0.80rem;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
     border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav-search:hover{
border: 1.5px solid orange;
}
/**4th**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}
/**box6**/
.nav-cart i{
    font-size: 28px;

}
.nav-cart{
    font-size: px;
    font-weight: 600;
}
 
/**panel**/
.panel{
    height: 40px;
    background-color: #222f3d ;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display:inline ;
    margin: 15px;
    
}
.panel-ops{
    width: 70%;
    font-size: 0.9rem;
}
.panel-dill{
    font-size: 0.95rem;
    font-weight: 700;
}
/**hero sec**/
.hero-sec{
    height: 400px;
    background-size: cover;
    background-image: url(amazon2.jpg);
}
/**shop**/
.shop{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    height: 300px;

    width: 23%;
    background-color: white;
    padding: 15px 0px 15px;
}

 .image{
     height: 230px;
    background-image: url(box1.jpg);
    background-size: cover;
    

} 
.box-con{
    margin-left: 15px;
    margin-right: 15px;
}
p{
    margin-top: 5px;
}
.imag2{
    height: 250px;
    background-image: url(home.jpg);
    background-size: cover;
    margin-top: 5px;
}
.box-con2{
     margin-left: 15px;
    margin-right: 15px;
}
.image3{
    height: 230px;
    background-image: url(box2.jpg);
    background-size: cover;
}
.box-con3{
     margin-left: 15px;
    margin-right: 15px;
}
.image4{
    height: 230px;
    background-size: cover;
    background-image: url(tshart.jpg);
    
}
.box-con4{
     margin-left: 15px;
    margin-right: 15px;
}
.shop2{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.pia{
    height: 300px;

    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 30px;
}
